<div class="container">
  <app-info-header></app-info-header>
  <div class="row justify-content-center">
    <div class="col-xl-12">
      <div class="card-group mb-0">
        <div class="card p-4 col-5">
          <form [formGroup]="form" (validSubmit)="onSubmit()" class="card-body">
            <h1>Register</h1>
            <p class="text-muted">Create a new account</p>
            <div class="form-group">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Fullname" formControlName="fullname" required>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Username" formControlName="username" required>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group mb-4">
                <input type="password" class="form-control" placeholder="Password" formControlName="password" required>
              </div>
            </div>
            <div class="input-group float-right">
              <button type="submit" class="btn btn-primary">Create new account</button>
            </div>
          </form>
        </div>
        <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
          <div class="card-body text-center">
            <div>
              <h2>Sign In</h2>
              <p>Already registered? Sign in to see what is happening inside timepass.</p>
              <a type="btn btn-sm" [routerLink]="['/login']" class="btn btn-primary active mt-3">Sign In</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
