<i class="activity__list__icon fa fa-question-circle-o"></i>
<div class="activity__list__header">
  <img [src]="getMyPicture()" style="width: 38px;height: 38px" alt=""/>
  <a href="#">{{tweet.created_by.name}}</a>
  <p>@{{tweet.created_by.username}}</p>
</div>

<div class="activity__list__body entry-content">
  <p class="h5">
    {{tweet.content}}
  </p>

  <br>
  <img [src]="getMyMedia()" [hidden]="!(tweet.media.length > 0)" class="img-fluid img-thumbnail mb-4"/>
  <br/>
  <span *ngFor="let tag of tweet.tags"><a href="/search/tags?tags={{tag.name}}"
                                          class="badge-info p-2 m-1">#{{tag.name}}</a> </span>
</div>
<div class="activity__list__footer">
  <a type="button" class="btn btn-sm" (click)="doLikeOrUnlike()" [class.text-black-50]="!isLiked"
     [class.text-dark]="isLiked">
    <i class="fas fa-thumbs-up"></i>
    {{this.likes.length}}
  </a>
  <a type="button" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
     aria-controls="collapseExample" class="btn btn-sm"> <i class="fa fa-comments"></i>{{tweet.replies.length}}</a>
  <a type="button" (click)="deleteTweet(deletetweet)" class="btn btn-sm" [hidden]="!isTweetOwnedByCurrentUser()">
    <div class="spinner-border spinner-border-sm text-danger" role="status" [hidden]="!isDeleting">
    </div>&nbsp;
    <i
      class="fa fa-trash"></i></a>
  <span> <i class="fa fa-clock"></i><span>{{tweet.createdAt | dateAgo}}</span></span>
</div>
<span #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" class="collapse mt-3 p-1" id="{{tweet.id}}">
  <app-tweet-reply-form (tweetReplyCreatedEvent)="onTweetReplyCreated($event)" [tweet]="tweet"></app-tweet-reply-form>

                <div *ngFor="let reply of replies.reverse()" class="activity__list__body entry-content ml-3">
                  <app-tweet-replies [reply]="reply" [tweetId]="tweet.id"
                                     (deletedTweetReplyEvent)="removeRemoveReplyFromList($event)">1</app-tweet-replies>
                  <!--                </span>-->
</div>
</span>
<ngb-alert class="alert alert-danger" type="{{alertErrorDelete.type}}"
           [hidden]="!alertErrorDelete.show"><strong>Error! &nbsp;</strong>{{ alertErrorDelete?.message }}</ngb-alert>
<ng-template #deletetweet let-modal>
  <div class="modal-header ">
    <h4 class="modal-title font-weight-bold" id="modal-title">Delete Tweet</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to delete tweet?</strong></p>
    <p class="text-danger">
      {{tweet.content}}
    </p>
  </div>
  <!--  (click)="modal.close('Ok click')"-->
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Cancel</button>
    <button type="submit" class="btn btn-rounded btn-danger" (click)="modal.close('tweet-delete-confirm')"
            [disabled]="isDeleting">

      &nbsp;Delete
    </button>
  </div>
</ng-template>
