<div class="jumbotron alert-info">
  <h1 class="display-4">Oops!</h1>
  <p class="lead">Nothing to see here more!</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn text-primary btn-lg" href="home" role="button">Go Home</a>
  </p>
</div>
