<div class="container-xl">
  <div class="panel profile-cover">
    <app-header></app-header>
  </div>


  <div class="row">
    <div class="col-lg-3">
      <div class="panel">
        <app-sidebar-left></app-sidebar-left>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="panel">
        <div class="panel-content panel-activity">
          <div class="alert alert-danger" role="alert" *ngIf="searchQuery !== undefined && tweets.length == 0">
            No Results for <b>{{this.searchQuery}}</b>
          </div>
          <div class="alert alert-danger" role="alert" *ngIf="searchTags !== undefined && tweets.length == 0">
            No Results for <b>{{this.searchTags}}</b>
          </div>
          <ul class="panel-activity__list" *ngFor="let tweet of tweets">
            <li>
              <app-tweet [tweet]="tweet"></app-tweet>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <app-sidebar-right></app-sidebar-right>
    </div>
  </div>
</div>
