<div class="container">
  <div class="col-xl-12">
    <div class="panel profile-cover">
      <app-header></app-header>
    </div>


    <div class="row">
      <div class="col-lg-3">
        <div class="panel">
          <app-profile></app-profile>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="panel">
          <div class="panel-heading">
            <ul class="nav nav-pills nav-fill">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/home">Feed</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/my-tweets">My Tweets</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/search">Search</a>
              </li>
            </ul>

          </div>
          <div class="panel-content panel-activity">
            <app-tweet [tweet]="tweet"></app-tweet>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title">Topics</h3>
          </div>
          <div class="panel-content">
            <app-all-tags></app-all-tags>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
