<!--A typeahead example that gets values from a static <code>string[]</code>-->
<!--<ul>-->
<!--  <li><code>debounceTime</code> operator</li>-->
<!--  <li>kicks in only if 2+ characters typed</li>-->
<!--  <li>limits to 10 results</li>-->
<!--</ul>-->

<!--      <form class="d-flex float-right">-->
<!--        <input class="form-control" type="search" placeholder="Search" aria-label="Search">-->
<!--        <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--      </form>-->
<div class="input-group d-flex float-right">
  <!--  <input class="form-control list-group-item py-2"-->
  <!--         [formControl]="typeahead" placeholder="search..." (input)="suggest()"-->
  <!--         type="search" pla="search" id="example-search-input">-->
  <input type="text" class="form-control" placeholder="search..." #searchInput>
  <span class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="suggest(searchInput)">
            <i class="fa fa-search"></i>
        </button>
      </span>
</div>

<!--<input type="text" class="text list-group-item w-100 mb-4 float-left list-group-horizontal-lg" [formControl]="typeahead" placeholder="search..." (input)="suggest()">-->
<!--<div class="mt-4 text text-muted" *ngIf="suggestions.length">-->
<!--  <p *ngFor="let s of suggestions">-->
<!--    <a href="/search?query={{s}}" class="page-link list-group-item">{{s}}</a>-->
<!--  </p>-->
<!--</div>-->

