<div class="container">
  <app-info-header></app-info-header>
  <div class="row justify-content-center">
    <div class="col-xl-12">
      <div class="card-group mb-0">
        <div class="card p-4 col-5">
          <form [formGroup]="form" (validSubmit)="onSubmit()" class="card-body">
            <h1>Login</h1>
            <p class="text-muted">Sign In to your account</p>
            <div class="form-group">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Username" formControlName="username" required>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group mb-4">
                <input type="password" class="form-control" placeholder="Password" formControlName="password" required>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <button type="submit" class="btn btn-primary px-4">Login</button>
              </div>
              <div class="col-6 text-right">
                <button type="button" class="btn btn-link px-0">Forgot password?</button>
              </div>
            </div>
          </form>
        </div>
        <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
          <div class="card-body text-center">
            <div>
              <h2>Sign up</h2>
              <p>Register now and see what is happening inside timepass.</p>
              <a type="btn btn-sm" [routerLink]="['/register']" class="btn btn-primary active mt-3">Register Now!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
