<div class="container-xl">
  <div class="panel profile-cover">
    <app-header></app-header>
  </div>


  <div class="row">
    <div class="col-lg-3">
      <div class="panel">
        <app-sidebar-left></app-sidebar-left>
      </div>
    </div>
    <div class="col">
      <div class="row" *ngIf="users.length > 0">
        <div *ngFor="let targetUser of users">
          <app-user-detail-small (followUserEvent)="removeUserFromSuggestions($event)"
                                 (unFollowUserEvent)="removeUserFromSuggestions($event)"
                                 [actionType]="'FOLLOW'" [user]="targetUser"></app-user-detail-small>
        </div>
      </div>
      <div class="row" *ngIf="users.length <= 0">
        <app-empty-component class="col-xl-9"></app-empty-component>
      </div>
    </div>
  </div>
</div>
