<router-outlet></router-outlet>

<!--<app-header flexLayout="column"></app-header>-->
<!--<div flexLayout="row" fxFlex>-->
<!--  <div fxFlex="20">-->
<!--    <app-sidebar-left fxFlex></app-sidebar-left>-->
<!--  </div>-->
<!--  <div fxFlex="60" class="content">-->
<!--    <router-outlet></router-outlet>-->
<!--  </div>-->
<!--  <div fxFlex="20">-->
<!--    <app-sidebar-right fxFlex></app-sidebar-right>-->
<!--  </div>-->
<!--</div>-->
<!--<app-footer flexLayout="column"></app-footer>-->
