<div class="jumbotron alert-danger">
  <h1 class="display-4">404!</h1>
  <p class="lead">Oops, link broken!</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn text-primary btn-lg" href="home" role="button">Go Home</a>
  </p>
</div>
