<div class="activity__list__body entry-content ml-3 activity__list__header">
  <div class="row">
    <div class="col-sm">
      <div class="activity__list__header">
        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt=""/>
        <a href="#">{{user?.name}}</a>
        <p>@{{user?.username}}</p>
      </div>
      <form [formGroup]="form" (validSubmit)="onSubmit()" class="mt-3">
              <textarea name="user_activity" placeholder="reply..."
                        class="form-control" rows="2" formControlName="replyToTweet"></textarea>

        <div class="actions float-right mt-2">
          <button type="submit" class="btn btn-sm btn-rounded btn-info" [disabled]="isLoading">
            <div class="spinner-border spinner-border-sm" role="status" [hidden]="!isLoading">
            </div> &nbsp;Reply
          </button>
        </div>
      </form>

    </div>
  </div>
  <hr style="border-top: 0.5px dotted #ccc"/>
</div>

