<ul class="nav nav-pills nav-fill">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Feed</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/my-tweets">My Tweets</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Followers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Followings</a>
  </li>
</ul>
