<div class="container-xl">
  <div class="panel profile-cover">
    <app-header></app-header>
  </div>


  <div class="row">
    <div class="col-lg-3">
      <div class="panel">
        <app-sidebar-left></app-sidebar-left>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card-group mb-0">
        <div class="card p-4">
          <form [formGroup]="form" (validSubmit)="onSubmit()" class="card-body">
            <h1>Profile</h1>
            <p class="text-muted">Update your profile</p>
            <input type="file" class="file-input" accept="image/png"
                   (change)="onFileSelected($event)" #profileImageUpload>
            <img [src]="getMyProfilePicture()" class="card-img mb-3" alt="..."
                 (click)="profileImageUpload.click()">
            <div class="form-group">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Fullname" [value]="user?.name"
                       formControlName="fullname" required>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Username" [value]="user?.username" disabled="true">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group mb-4">
                <input type="password" class="form-control" placeholder="******" disabled>
              </div>
            </div>
            <div class="float-right">
              <button type="submit" class="btn btn-primary" [disabled]="isLoading">
                <div class="spinner-border spinner-border-sm" role="status" [hidden]="!isLoading">

                </div>
                Update
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <app-sidebar-right></app-sidebar-right>
    </div>
  </div>
</div>


