<div class="container-xl">
  <div class="panel profile-cover">
    <app-header></app-header>
  </div>


  <div class="row">
    <div class="col-lg-3">
      <div class="panel">
        <app-sidebar-left></app-sidebar-left>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Settings</h3>
          <br/>

        </div>
        <div class="panel panel-body">

          <a type="button" class="btn-link" (click)="logout()"><p>Logout</p></a>
        </div>
      </div>
    </div>
  </div>
</div>

