<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">
      <img src="https://silentsudo.gitlab.io/logos/my-logo-footer.png" alt="" width="30" height="24"
           class="d-inline-block align-text-top">
      silentsudo
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav nav-pills me-auto 0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="home"
             [class.active]="getCurrentActiveRoute() === 'home'">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/my-tweets" [class.active]="getCurrentActiveRoute() === 'my-tweets'">My Tweets</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/search" [class.active]="getCurrentActiveRoute() === 'search'">Search</a>
        </li>
      </ul>
    </div>
    <div>
      <app-global-search></app-global-search>
    </div>
  </div>
</nav>


<!--<div class="profile-cover__img" xmlns="http://www.w3.org/1999/html">-->
<!--  <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt=""/>-->
<!--  <h3 class="h3 text-muted">@{{user?.username}}</h3>-->
<!--</div>-->
<!--<div class="profile-cover__action bg&#45;&#45;img" data-overlay="0.3">-->

<!--  <button class="btn btn-sm btn-rounded btn-info">-->
<!--    <i class="fa fa-plus"></i>-->
<!--    <span>&nbsp;Tweet</span>-->
<!--  </button>-->
<!--  <button class="btn btn-sm btn-rounded btn-info">-->
<!--    <i class="fa fa-comment"></i>-->
<!--    <span>&nbsp;Follow</span>-->
<!--  </button>-->
<!--</div>-->
<!--<div class="profile-cover__info">-->
<!--  <ul class="nav">-->
<!--    <li [ngPlural]="myTweetCount">-->
<!--      <ng-template ngPluralCase="=0"><strong>{{myTweetCount}}</strong>Tweets</ng-template>-->
<!--      <ng-template ngPluralCase="=1"><strong>{{myTweetCount}}</strong>Tweet</ng-template>-->
<!--      <ng-template ngPluralCase="other"><strong>{{myTweetCount}}</strong>Tweets</ng-template>-->

<!--    </li>-->
<!--    <li [ngPlural]="followers">-->
<!--      <ng-template ngPluralCase="=0"><strong>{{followers}}</strong>Followers</ng-template>-->
<!--      <ng-template ngPluralCase="=1"><strong>{{followers}}</strong>Follower</ng-template>-->
<!--      <ng-template ngPluralCase="other"><strong>{{followers}}</strong>Followers</ng-template>-->
<!--    </li>-->
<!--    <li [ngPlural]="followings">-->
<!--      <ng-template ngPluralCase="=0"><strong>{{followings}}</strong>Followings</ng-template>-->
<!--      <ng-template ngPluralCase="=1"><strong>{{followings}}</strong>Following</ng-template>-->
<!--      <ng-template ngPluralCase="other"><strong>{{followings}}</strong>Followings</ng-template>-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->
