<div>
  <p class="text-sm-right float-right" style="color: #999">{{reply?.createdAt | dateAgo}}</p>
  <div class="activity__list__header">
    <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt=""/>
    <a href="#">{{reply?.name}}</a>
    <p>@{{reply?.username}}</p>
  </div>
  <p class="text mt-3">{{reply?.content}}</p>
  <a type="button" (click)="deletedTweetReply(deleteTweetReply)" class="btn btn-sm"
     [hidden]="!isReplyOwnedByCurrentUser()">
    <div class="spinner-border spinner-border-sm text-danger" role="status" [hidden]="!isDeleting">
    </div>&nbsp;
    <i
      class="fa fa-trash text-muted"> <span class="text-muted"> Delete</span></i></a>
</div>
<ngb-alert class="alert alert-danger" type="{{alertErrorDelete.type}}"
           [hidden]="!alertErrorDelete.show"><strong>Error! &nbsp;</strong>{{ alertErrorDelete?.message }}</ngb-alert>
<hr style="border-top: 0.5px dotted #ccc"/>
<ng-template #deleteTweetReply let-modalReply>
  <div class="modal-header ">
    <h4 class="modal-title font-weight-bold" id="modal-title">Delete Reply</h4>
    <button type="button" class="close" aria-describedby="modal-title" (click)="modalReply.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Are you sure you want to delete reply?</strong></p>
    <p class="text-danger">
      {{reply.content}}
    </p>
  </div>
  <!--  (click)="modal.close('Ok click')"-->
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="modalReply.dismiss('cancel click')">Cancel</button>
    <button type="submit" class="btn btn-rounded btn-info" (click)="modalReply.close('tweet-delete-reply-confirm')"
            [disabled]="isDeleting">

      &nbsp;Delete
    </button>
  </div>
</ng-template>
