<div class="container-xl">
  <div class="panel profile-cover">
    <app-header></app-header>
  </div>


  <div class="row">
    <div class="col-lg-3">
      <div class="panel">
        <app-sidebar-left></app-sidebar-left>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="panel">
        <app-not-found></app-not-found>
      </div>
    </div>
    <div class="col-lg-3">
      <app-sidebar-right></app-sidebar-right>
    </div>
  </div>
</div>
