<form [formGroup]="form" (validSubmit)="onSubmit()" class="panel-activity__status">

  <textarea name="user_activity" placeholder="Share what you've been up to..."
            class="form-control" rows="4" formControlName="tweetContent"></textarea>
  <div class="actions">
    <div class="btn-group">
      <input type="file" class="file-input" accept="image/png"
             (change)="onFileSelected($event)" #fileUpload>
      <button type="button" class="btn-link" title="" data-toggle="tooltip"
              data-original-title="Post an Image" (click)="fileUpload.click()">
        <i class="fa fa-image"></i>
      </button>
      <button type="button" class="btn-link" title="" data-toggle="tooltip"
              data-original-title="Post an Video">
        <i class="fa fa-video-camera"></i>
      </button>
      <button type="button" class="btn-link" title="" data-toggle="tooltip"
              data-original-title="Post an Idea">
        <i class="fa fa-lightbulb-o"></i>
      </button>
      <button type="button" class="btn-link" title="" data-toggle="tooltip"
              data-original-title="Post an Question">
        <i class="fa fa-question-circle-o"></i>
      </button>
    </div>
    <button type="submit" class="btn btn-sm btn-rounded btn-info" [disabled]="isLoading">
      <div class="spinner-border spinner-border-sm" role="status" [hidden]="!isLoading">
      </div>
      &nbsp;Post Tweet
    </button>
  </div>

  <div [hidden]="selectedImage==''" class="mt-1">

    <button type="button" (click)="removeImageWithTweet()" class="btn-sm text-danger" aria-label="Close">
      <i class="fa fa-close">&nbsp;Remove {{this.fileName}}</i>
    </button>
    <br/>
    <img src="{{selectedImage}}" class="rounded img-thumbnail">

  </div>

</form>
