<div class="card">
  <div class="card-header">
    Account
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item" [class.active]="getCurrentActiveRoute() === 'profile'">
      <a href="profile" [class.text-white]="getCurrentActiveRoute() === 'profile'">
        Profile
      </a>
    </li>
    <li class="list-group-item" [class.active]="getCurrentActiveRoute() === 'followers'">
      <a href="followers" [class.text-white]="getCurrentActiveRoute() === 'followers'">
        Followers
      </a>
    </li>
    <li class="list-group-item" [class.active]="getCurrentActiveRoute() === 'followings'">
      <a href="followings" [class.text-white]="getCurrentActiveRoute() === 'followings'">
        Followings
      </a>
    </li>
    <li class="list-group-item" [class.active]="getCurrentActiveRoute() === 'suggestions'">
      <a href="suggestions" [class.text-white]="getCurrentActiveRoute() === 'suggestions'">
        Suggestions
      </a>
    </li>
    <li class="list-group-item" [class.active]="getCurrentActiveRoute() === 'media'">
      <a href="media" [class.text-white]="getCurrentActiveRoute() === 'media'">
        Media
      </a>
    </li>
    <li class="list-group-item" [class.active]="getCurrentActiveRoute() === 'activity'">
      <a href="activity" [class.text-white]="getCurrentActiveRoute() === 'activity'">
        Activity
      </a>
    </li>
    <li class="list-group-item" [class.active]="getCurrentActiveRoute() === 'settings'">
      <a href="settings" [class.text-white]="getCurrentActiveRoute() === 'settings'">
        Settings
      </a>
    </li>
  </ul>
</div>
