<div class="card m-1" style="width: 10rem;">
  <img [src]="getUserPicture()"
       class="card-img-top card-img-bottom rounded" alt="...">
  <div class="card-body text-center">
    <p class="card-text">{{user?.name}}</p>
    <p class="card-title">@{{user?.username}}</p>
    <a type="button" (click)="doFollowOrUnfollow()" class="btn btn-sm btn-primary" [hidden]="btnHidden">
      <div class="spinner-border spinner-border-sm" role="status" [hidden]="!isApiCallRunning">
      </div>&nbsp;{{btnAction}}</a>
  </div>
</div>
